/* Stile Generale */
body {
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
}

/* Sidebar */
#sidebar {
    overflow-y: auto;
    backdrop-filter: blur(5px);
    width: 350px;
    height: 100vh;
    transform: translateX(-450px);
    transition: transform 0.3s ease-in-out;
    position: fixed;
}

/* Sidebar aperta */
#sidebarContainer {
    height: 100vh;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    z-index: 1050;
    transition: width 0.3s ease-in-out;
}

#sidebarContainer.open #sidebar {
    transform: translateX(0);
}

/* Bottone menu */
.sidebar-btn {
    position: fixed;
    z-index: 1051;
    left: 10px;
    top: 20px;
}

/* Bottone si sposta a destra quando la sidebar è aperta */
#sidebarContainer.open .sidebar-btn {
    left: 350px;
}

/* Bottone Carrello */
#cartButton {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1051;
}

/* Contenitore principale */
#bookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stile per le card dei libri */
.cardBook {
    position: relative;
    display: flex;
    flex-direction: column;
}

.bookImage {
    
        max-width: 480px;
        min-height: 510px;
        border-radius: 10px;
}

/* Modale */
.customModal .modalContent {
   
    width: auto;
    max-width: 90%;
    min-height: 200px;
    pointer-events: auto;
}

